/*scalable.gs*/
.scalable{margin-left:auto;margin-right:auto;min-width: 20em; max-width: 95em;position: relative;}
.grid_first{margin-left:0;}.grid_last{margin-right:0;}

/* 3 grid system */
.grid_3-3,.grid_2-3.grid_1-3{display:inline;float:left;position:relative;margin-left:1.9%;margin-right:1.9%;}
	.scalable .grid_3-3{width: 96%;}
	.scalable .grid_2-3{width: 64%;}
	.scalable .grid_1-3{width: 32%;}
	/* push grids */
		.scalable .grid-push_2-3{margin-left:65.9%;}
		.scalable .grid-push_1-3{margin-left:33.9%;}
	/* pull grids */
		.scalable .grid-pull_2-3{margin-left:-65.9%;}
		.scalable .grid-pull_1-3{margin-left:-33.9%;}
	/* viewport scaling */
		@media screen and (max-width: 770px),@media screen and (max-device-width: 770px) {	
			.scalable .grid_3-3{width: 96%;}
			.scalable .grid_2-3{width: 46%;}
			.scalable .grid_1-3{width: 46%;}
				/* push grids */
				.scalable .grid-push_2-3{margin-left: 1.9%;}
				.scalable .grid-push_1-3{margin-left: 1.9%;}
				/* pull grids */
				.scalable .grid-pull_2-3{margin-left: 1.9%;}
				.scalable .grid-pull_1-3{margin-left: 1.9%;}
		}
		@media screen and (max-width: 330px),@media screen and (max-device-width: 330px) {
			.scalable .grid_3-3{width: 96%;}
			.scalable .grid_2-3{width: 96%;}
			.scalable .grid_1-3{width: 96%;}
		}
/* 4 grid system */
.grid_4-4,.grid_3-4,.grid_2-4,.grid_1-4{display:inline;float:left;position:relative;margin-left:1.9%;margin-right:1.9%;}
	.scalable .grid_4-4{width: 96%;}
	.scalable .grid_3-4{width: 75%;}
	.scalable .grid_2-4{width: 46%;}
	.scalable .grid_1-4{width: 21%;}
	/* push grids */
		.scalable .grid-push_3-4{margin-left:76.9%;}
		.scalable .grid-push_2-4{margin-left:47.9%;}
		.scalable .grid-push_1-4{margin-left:22.9%;}
	/* pull grids */
		.scalable .grid-pull_3-4{margin-left:-76.9%;}
		.scalable .grid-pull_2-4{margin-left:-47.9%;}
		.scalable .grid-pull_1-4{margin-left:-22.9%;}
	/* viewport scaling */
		@media screen and (max-width: 770px),@media screen and (max-device-width: 770px) {	
			.scalable .grid_4-4{width: 96%;}
			.scalable .grid_3-4{width: 96%;}
			.scalable .grid_2-4{width: 96%;}
			.scalable .grid_1-4{width: 46%;}
				/* push grids */
				.scalable .grid-push_3-4{margin-left: 1.9%;}
				.scalable .grid-push_2-4{margin-left: 1.9%;}
				.scalable .grid-push_1-4{margin-left: 1.9%;}
				/* pull grids */
				.scalable .grid-pull_3-4{margin-left: 1.9%;}
				.scalable .grid-pull_2-4{margin-left: 1.9%;}
				.scalable .grid-pull_1-4{margin-left: 1.9%;}
		}
		@media screen and (max-width: 330px),@media screen and (max-device-width: 330px) {
			.scalable .grid_4-4{width: 96%;}
			.scalable .grid_3-4{width: 96%;}
			.scalable .grid_2-4{width: 96%;}
			.scalable .grid_1-4{width: 96%;}
		}
/* 10 grid system */
.grid_10-10,.grid_9-10,.grid_8-10,.grid_7-10,.grid_6-10,.grid_5-10,.grid_4-10,.grid_3-10,.grid_2-10,.grid_1-10{display:inline;float:left;position:relative;margin-left:1.9%;margin-right:1.9%;}
	.scalable .grid_10-10{width: 96%;}
	.scalable .grid_9-10{width: 90%;}
	.scalable .grid_8-10{width: 76%;}
	.scalable .grid_7-10{width: 66%;}
	.scalable .grid_6-10{width: 56%;}
	.scalable .grid_5-10{width: 46%;}
	.scalable .grid_4-10{width: 36%;}
	.scalable .grid_3-10{width: 26%;}
	.scalable .grid_2-10{width: 16%;}
	.scalable .grid_1-10{width: 6%;}
	/* push grids */
		.scalable .grid-push_9-10{margin-left: 87.9%;}
		.scalable .grid-push_8-10{margin-left: 77.9%;}
		.scalable .grid-push_7-10{margin-left: 67.9%;}
		.scalable .grid-push_6-10{margin-left: 57.9%;}
		.scalable .grid-push_5-10{margin-left: 47.9%;}
		.scalable .grid-push_4-10{margin-left: 37.9%;}
		.scalable .grid-push_3-10{margin-left: 27.9%;}
		.scalable .grid-push_2-10{margin-left: 17.9%;}
		.scalable .grid-push_1-10{margin-left: 7.9%;}
	/* pull grids */
		.scalable .grid-pull_9-10{margin-left: -87.9%;}
		.scalable .grid-pull_8-10{margin-left: -77.9%;}
		.scalable .grid-pull_7-10{margin-left: -67.9%;}
		.scalable .grid-pull_6-10{margin-left: -57.9%;}
		.scalable .grid-pull_5-10{margin-left: -47.9%;}
		.scalable .grid-pull_4-10{margin-left: -37.9%;}
		.scalable .grid-pull_3-10{margin-left: -27.9%;}
		.scalable .grid-pull_2-10{margin-left: -17.9%;}
		.scalable .grid-pull_1-10{margin-left: -7.9%;}
	/* viewport scaling */
		@media screen and (max-width: 770px),@media screen and (max-device-width: 770px) {	
			.scalable .grid_10-10{width: 96%;}
			.scalable .grid_9-10{width: 90%;}
			.scalable .grid_8-10{width: 76%;}
			.scalable .grid_7-10{width: 66%;}
			.scalable .grid_6-10{width: 56%;}
			.scalable .grid_5-10{width: 46%;}
			.scalable .grid_4-10{width: 36%;}
			.scalable .grid_3-10{width: 26%;}
			.scalable .grid_2-10{width: 16%;}
			.scalable .grid_1-10{width: 6%;}
				.scalable .grid-push_9-10{margin-left: 1.9%;}
				.scalable .grid-push_8-10{margin-left: 1.9%;}
				.scalable .grid-push_7-10{margin-left: 1.9%;}
				.scalable .grid-push_6-10{margin-left: 1.9%;}
				.scalable .grid-push_5-10{margin-left: 1.9%;}
				.scalable .grid-push_4-10{margin-left: 1.9%;}
				.scalable .grid-push_3-10{margin-left: 1.9%;}
				.scalable .grid-push_2-10{margin-left: 1.9%;}
				.scalable .grid-push_1-10{margin-left: 1.9%;}
		}
		@media screen and (max-width: 330px),@media screen and (max-device-width: 330px) {
			.scalable .grid_10-10{width: 96%;}
			.scalable .grid_9-10{width: 96%;}
			.scalable .grid_8-10{width: 96%;}
			.scalable .grid_7-10{width: 96%;}
			.scalable .grid_6-10{width: 96%;}
			.scalable .grid_5-10{width: 96%;}
			.scalable .grid_4-10{width: 96%;}
			.scalable .grid_3-10{width: 96%;}
			.scalable .grid_2-10{width: 96%;}
			.scalable .grid_1-10{width: 96%;}
				/* push grids */
				.scalable .grid-push_9-10{margin-left: 1.9%;}
				.scalable .grid-push_8-10{margin-left: 1.9%;}
				.scalable .grid-push_7-10{margin-left: 1.9%;}
				.scalable .grid-push_6-10{margin-left: 1.9%;}
				.scalable .grid-push_5-10{margin-left: 1.9%;}
				.scalable .grid-push_4-10{margin-left: 1.9%;}
				.scalable .grid-push_3-10{margin-left: 1.9%;}
				.scalable .grid-push_2-10{margin-left: 1.9%;}
				.scalable .grid-push_1-10{margin-left: 1.9%;}
				/* pull grids */
				.scalable .grid-push_9-10{margin-left: 1.9%;}
				.scalable .grid-push_8-10{margin-left: 1.9%;}
				.scalable .grid-push_7-10{margin-left: 1.9%;}
				.scalable .grid-push_6-10{margin-left: 1.9%;}
				.scalable .grid-push_5-10{margin-left: 1.9%;}
				.scalable .grid-push_4-10{margin-left: 1.9%;}
				.scalable .grid-push_3-10{margin-left: 1.9%;}
				.scalable .grid-push_2-10{margin-left: 1.9%;}
				.scalable .grid-push_1-10{margin-left: 1.9%;}
		}
/* 12 grid system */
	/* push grids */
	/* pull grids */
	/* viewport scaling */


/* 24 grid system */
	/* push grids */
	/* pull grids */
	/* viewport scaling */

/*SET CONTENT LIKE IMAGES,FLASH & VIDEO TO FILL THE WIDTH OF THE grid*/
	img,object,video{max-width: 100%;}

/*GROUPING OF ELEMENTS*/
	.group:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
	/* IE6 */
	* html .group{height: 1%;}
	/* IE7 */
	*:first-child+html .group{min-height: 1px;}