/* 10 grid system */
.grid_10-10,
.grid_9-10,
.grid_8-10,
.grid_7-10,
.grid_6-10,
.grid_5-10,
.grid_4-10,
.grid_3-10,
.grid_2-10,
.grid_1-10 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
}
.scalable .grid_10-10 {
  width: 96%;
}
.scalable .grid_9-10 {
  width: 86%;
}
.scalable .grid_8-10 {
  width: 76%;
}
.scalable .grid_7-10 {
  width: 66%;
}
.scalable .grid_6-10 {
  width: 56%;
}
.scalable .grid_5-10 {
  width: 46%;
}
.scalable .grid_4-10 {
  width: 36%;
}
.scalable .grid_3-10 {
  width: 26%;
}
.scalable .grid_2-10 {
  width: 16%;
}
.scalable .grid_1-10 {
  width: 6%;
}
/* push grids */
.scalable .grid-push_9-10 {
  margin-left: 88%;
}
.scalable .grid-push_8-10 {
  margin-left: 78%;
}
.scalable .grid-push_7-10 {
  margin-left: 68%;
}
.scalable .grid-push_6-10 {
  margin-left: 58%;
}
.scalable .grid-push_5-10 {
  margin-left: 48%;
}
.scalable .grid-push_4-10 {
  margin-left: 38%;
}
.scalable .grid-push_3-10 {
  margin-left: 28%;
}
.scalable .grid-push_2-10 {
  margin-left: 18%;
}
.scalable .grid-push_1-10 {
  margin-left: 8%;
}
/* pull grids */
.scalable .grid-pull_9-10 {
  margin-left: -88%;
}
.scalable .grid-pull_8-10 {
  margin-left: -78%;
}
.scalable .grid-pull_7-10 {
  margin-left: -68%;
}
.scalable .grid-pull_6-10 {
  margin-left: -58%;
}
.scalable .grid-pull_5-10 {
  margin-left: -48%;
}
.scalable .grid-pull_4-10 {
  margin-left: -38%;
}
.scalable .grid-pull_3-10 {
  margin-left: -28%;
}
.scalable .grid-pull_2-10 {
  margin-left: -18%;
}
.scalable .grid-pull_1-10 {
  margin-left: -8%;
}