/* */
  .scalable .grid_12-12 {
    width: 96%;
  }
  .scalable .grid_11-12 {
    width: 87.66666666666667%;
  }
  .scalable .grid_10-12 {
    width: 79.33333333333334%;
  }
  .scalable .grid_9-12 {
    width: 71%;
  }
  .scalable .grid_8-12 {
    width: 62.66666666666667%;
  }
  .scalable .grid_7-12 {
    width: 54.333333333333336%;
  }
  .scalable .grid_6-12 {
    width: 46%;
  }
  .scalable .grid_5-12 {
    width: 37.66666666666667%;
  }
  .scalable .grid_4-12 {
    width: 29.333333333333336%;
  }
  .scalable .grid_3-12 {
    width: 21%;
  }
  .scalable .grid_2-12 {
    width: 12.666666666666668%;
  }
  .scalable .grid_1-12 {
    width: 4.333333333333334%;
  }
  /* push grids */
  .scalable .grid-push_11-12,
  .scalable .grid-push_10-12,
  .scalable .grid-push_9-12,
  .scalable .grid-push_8-12,
  .scalable .grid-push_7-12,
  .scalable .grid-push_6-12,
  .scalable .grid-push_5-12,
  .scalable .grid-push_4-12,
  .scalable .grid-push_3-12,
  .scalable .grid-push_2-12,
  .scalable .grid-push_1-12 {
    margin-left: 2%;
  }
  /* pull grids */
  .scalable .grid-pull_11-12,
  .scalable .grid-pull_10-12,
  .scalable .grid-pull_9-12,
  .scalable .grid-pull_8-12,
  .scalable .grid-pull_7-12,
  .scalable .grid-pull_6-12,
  .scalable .grid-pull_5-12,
  .scalable .grid-pull_4-12,
  .scalable .grid-pull_3-12,
  .scalable .grid-pull_2-12,
  .scalable .grid-pull_1-12 {
    margin-left: 2%;
  }