.grid-setup-standard {
  display: inline;
  float: left;
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
}
.grid-setup-multiple {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}
/*scalable.gs*/
.scalable {
  margin-left: auto;
  margin-right: auto;
  min-width: 10em;
  max-width: 95em;
  position: relative;
}
.grid_first {
  margin-left: 0;
}
.grid_last {
  margin-right: 0;
}
/* 3 grid system */
.grid_3-3, .grid_2-3, .grid_1-3 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
}
.scalable .grid_3-3 {
  width: 96%;
}
.scalable .grid_2-3 {
  width: 62.66666666666667%;
}
.scalable .grid_1-3 {
  width: 29.333333333333336%;
}
/* push grids */
.scalable .grid-push_2-3 {
  margin-left: 66%;
}
.scalable .grid-push_1-3 {
  margin-left: 34%;
}
/* pull grids */
.scalable .grid-pull_2-3 {
  margin-left: -66%;
}
.scalable .grid-pull_1-3 {
  margin-left: -34%;
}
/* viewport scaling */
@media screen and (max-width: 770px),
						screen and (max-device-width: 770px), 
						handheld and (max-width: 770px) {
  
}
@media screen and (max-width: 320px), 
						screen and (max-device-width: 320px), 
						handheld and (max-width: 320px) {
  .scalable {
    /* push grids */
  
    /* pull grids */
  
  }
  .scalable .grid_3-3, .scalable .grid_2-3, .scalable .grid_1-3 {
    width: 96%;
  }
  .scalable .scalable .grid-push_2-3 {
    margin-left: 2%;
  }
  .scalable .scalable .grid-push_1-3 {
    margin-left: 2%;
  }
  .scalable .scalable .grid-pull_2-3 {
    margin-left: 2%;
  }
  .scalable .scalable .grid-pull_1-3 {
    margin-left: 2%;
  }
}
/*SET CONTENT LIKE IMAGES,FLASH & VIDEO TO FILL THE WIDTH OF THE grid*/
img, object, video {
  max-width: 100%;
}
/*GROUPING OF ELEMENTS*/
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .group {
  height: 1%;
}
/* IE7 */
*:first-child + html .group {
  min-height: 1px;
}
